body {
  background-color: #F7F0D2;
}

.header {
  background-color: #DBCAAE;
  height: 14vh;
  position: fixed;
  display: flex;
  width: 100vw;
  z-index: 1;
}

.header-company-name {
  color: #11292C;
  margin-left: 1vw;
  font-family: "Great Vibes", serif;
  font-size: 48px;
  font-style: normal;
  text-decoration: 3.5% underline;
  text-underline-offset: 5%;
  font-weight: 400;
  width: 12vw;
  height: auto;
  margin-top: 2vh;
}

.header-menu {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu button {
  height: 10vh;
  width: 12vw;
  background-color: #CAA089;
  border-style: none;
  border-radius: 10px;

  font-family: Commissioner;
  font-size: 34px;
  text-align: center;
  align-items: center;
  font-weight: 400;
  color: #11292C;
}

.header-menu button:hover {
  background-color: #a98571;
  cursor: pointer;
}

.page-main-name {
  color: #11292C;
  font-family: "Great Vibes", serif;
  font-size: 68px;
  font-style: normal;
  text-underline-offset: 5%;
  font-weight: 400;
  margin-top: 2vh;
}

.page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14vh;
}

.news-block {
  background-color: #DBCAAE;
  width: 52vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}

.news-block img {
  width: 35vw;
  height: 40vh;
  object-fit: cover;
  margin: 4vh auto;
  border-radius: 10px;
}

.news-block h3 {
  color: #11292C;
  margin-left: 8.5vw;
  margin-top: -3vh;
  font-family: Commissioner;
  font-size: 38px;
  font-weight: 400;
  color: #11292C;
}

.news-block p {
  width: 35vw;
  margin: -2vh auto 4vh auto;
  font-family: Commissioner;
  font-size: 24px;
  font-weight: 400;
}

.catalogue-body {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 3vw;
}

.catalogue-block {
  height: 38vh;
  width: 28vw;
  margin-bottom: 11vh;
}

.catalogue-block img {
  height: 38vh;
  width: 28vw;
  object-fit: cover;
}

.catalogue-block-title {
  height: 11vh;
  width: 28vw;
  background-color: #11292CCC;
  position: absolute;
  margin-top: -11.2vh;
  display: flex;
  flex-direction: row;
}

.catalogue-block-title h3 {
  color: white;
  font-family: Commissioner;
  font-size: 36px;
  font-weight: 400;
  margin: auto 1vw;
  width: 12vw;
  text-align: center;
}

.catalogue-block-title p {
  color: #BCBCBCFF;
  font-family: Commissioner;
  font-size: 40px;
  font-weight: 400;
  margin: auto auto auto 3vw;
  width: 10vw;
}

.catalogue-create-product {
  position: absolute;
  background-color: #CAA089;
  border-style: none;
  border-radius: 10px;
  margin-left: 36vw;
  margin-top: -13vh;
  height: 7vh;

  font-family: Commissioner;
  font-size: 24px;
  font-weight: 400;
  color: #11292C;
}

.contacts-block {
  width: 80vw;
  height: 53vh;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 10vh;
}

.contacts-block img {
  width: 37vw;
  height: 53vh;
  object-fit: cover;
}

.contacts-block-text-block {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

.contacts-block-text-block h2 {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 48px;
}

.contacts-block-text-block h3 {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 40px;
  margin-top: -4vh;
  text-decoration: 8% underline;
}

.contacts-block-text-block h4 {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 32px;
}

.contacts-block-text-block h5 {
  margin-top: -4vh;
  font-family: Commissioner;
  font-weight: 400;
  font-size: 32px;
}

.contacts-block-text-block p {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 32px;
  font-style: italic;
  align-self: flex-end;
}

.order-grid {
  margin: auto;
  width: 70vw;
  background-color: #CAA089;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 30px;
  margin-bottom: 5vh;
}

.order-grid input {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.order-checkbox {
  height: 4vh;
  width: 4vh;
}

.order-select {
  margin-bottom: 10vh;
  height: 4vh;
  width: 14vw;
  color: #444444;
  padding-left: 1vw;
  border: #212121 1px solid;
  border-radius: 10px;
  font-size: 18px;
  font-family: Commissioner;
  font-weight: 400;
}

.order-grid h2 {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 30px;
}

.order-table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: rgba(255, 238, 238, 0.42);
  font-family: Commissioner;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.order-table th, td{
  padding: 10px 20px;
  border: 2px solid #000;
}

.order-table th {
  background-color: #a98571;
}

.order-table-img {
  max-width: 400px;
}

.order-table input {
  width: 10vw;
}

.create-tea-form {
  margin: auto;
  margin-top: 20vh;
  width: 40vw;
  height: 70vh;
  background-color: #CAA089;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 30px;
}

.create-tea-return {
  height: 5vh;
  width: 9vw;
  font-size: 16px;
  background-color: #493a31;
  border-style: none;
  border-radius: 10px;
  font-family: Commissioner;
  font-weight: 400;
  color: #fff0e8;
}

.create-tea-return:hover {
  cursor: pointer;
}

.input-box {
  height: 4vh;
  width: 14vw;
  text-align: center;
  border: #212121 1px solid;
  border-radius: 10px;
  font-size: 18px;
  font-family: Commissioner;
  font-weight: 400;
}

.input-box:disabled {
  opacity: 100%;
  color: #000000;
}

.add-file {
  font-size: 16px;
}

.create-form-button {
  height: 4vh;
  width: 9vw;
  font-size: 16px;
  background-color: #f5e7df;
  border-style: none;
  border-radius: 10px;
  font-family: Commissioner;
  font-weight: 400;
  margin-bottom: 2vh;
}

.create-form-button:hover {
  cursor: pointer;
}

.header-admin {
  top: 0;
  background-color: #727272;
  height: 10vh;
  position: fixed;
  display: flex;
  width: 100vw;
  z-index: 1;
}

.header-menu-admin {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header-menu-admin button {
  height: 8vh;
  width: 8vw;
  background-color: #c4c4c4;
  border-style: none;
  border-radius: 10px;

  font-family: Commissioner;
  font-size: 20px;
  text-align: center;
  align-items: center;
  font-weight: 400;
  color: #000000;
}

.header-menu-admin button:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.redact-product-table {
  margin: auto;
  margin-top: 20vh;
  align-items: center;
  flex-direction: column;
}

.tab-content {
  display: none;
}

.tab-content:target {
  display: flex;
}